.option_enseignant[b-zpcfxl1uew]{
    margin-top:100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}
.option[b-zpcfxl1uew]{
    width: 300px;
    padding: 20px;
    background-color: white;
    border: 2px solid #0056b3;
    border-radius: 8px;
    text-align: center;
    transition: transform 0.2s ease-in-out;
}


/* Style du header */
.header[b-zpcfxl1uew] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background: #004080;
    color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.logo[b-zpcfxl1uew] {
    display: flex;
    align-items: center;
}

    .logo img[b-zpcfxl1uew] {
        width: 40px;
        height: 40px;
        margin-right: 10px;
    }

.nav[b-zpcfxl1uew] {
    display: flex;
    gap: 20px;
}

    .nav a[b-zpcfxl1uew] {
        text-decoration: none;
        color: white;
        font-weight: bold;
        transition: color 0.3s ease;
    }

        .nav a:hover[b-zpcfxl1uew] {
            color: #ffcc00;
        }

.btn[b-zpcfxl1uew] {
    background: #ffcc00;
    color: #004080;
    padding: 8px 12px;
    border-radius: 5px;
    font-weight: bold;
}

    .btn:hover[b-zpcfxl1uew] {
        background: #ffaa00;
    }