@page "/A_propos"

<header class="header">
    <div class="logo">
        <img src="image.jpeg" />
        <h1>Gestion des PV</h1>
    </div>

    <nav class="nav">
        <a href="/">Accueil</a>
        <a href="/A_propos">A propos</a>
        <!---
        <a href="/Modifier_PV">Modifier un PV</a>
        <a href="/Consulter_PV">Consulter les PV</a>

        <a href="/connexion" class="btn">connexion</a>
        -->
    </nav>
</header>

    <div class="container mt-4">
        <h1>À propos de notre application</h1>
        <p>
            Cette application a été développée dans le but de faciliter la gestion des procès-verbaux (PV).
            Elle permet aux utilisateurs d'ajouter, de supprimer, de modifier et de consulter des PV de manière intuitive.
        </p>
        <h2>Fonctionnalités</h2>
        <ul>
            <li>Ajout de nouveaux PV</li>
            <li>Suppression de PV existants</li>
            <li>Modification des informations d'un PV</li>
            <li>Consultation des PV enregistrés</li>
        </ul>
        <h2>Contact</h2>
        <p>
            Pour toute question ou suggestion, n'hésitez pas à nous contacter à l'adresse suivante :
            <a href="mailto:contact@votreapplication.com">contact@votreapplication.com</a>.
        </p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
