@page "/connexion"

<header class="header">
    <div class="logo">
        <p>tof</p>
        <h1>Gestion des PV</h1>
    </div>

    <nav class="nav">
        <a href="/">Accueil</a>
        <!--
        <a href="/etudiants">Étudiants</a>
        <a href="/enseignants">Enseignants</a>
        <a href="/pv-notes">PV des Notes</a>
        <a href="/connexion" class="btn">Connexion</a>
        -->
    </nav>
</header>

<div class="option">
    <div>
        <h5>S'inscrire en tant que</h5>
        <a href="/Inscription_etudiant">Etudiant</a>
        <a href="/Inscription_enseignant">Enseignant</a>
    </div>

    <h5>vous avez deja un compte?</h5>
    <div>
        <h5>se connectez en tant que</h5>
        <a href="Connection_etudiant">Etudiant</a>
        <a href="Connection_enseignant">Enseignant</a>
    </div>
</div>


@code {

}
