@page "/Page_etudiant"


<header class="header">
    <div class="logo">
        <p>tof</p>
        <h1>Gestion des PV</h1>
    </div>

    <nav class="nav">
        <a href="/Accueil_etudiant">Accueil</a>
        <a href="/Consulter_PV-etudiant">Consulter les PV</a>
        <a href="/etudiants">A propos</a>
        <a href="/enseignants">Autre</a>
        
    </nav>
</header>

<h1>vous etes connectez en tant que Etudiant</h1>